.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

body {
  font-family: "Romul-Regular"; }

.header {
  padding-top: 25px; }
  .header-top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Montserrat-Medium";
    padding: 30px 0; }
    .header-top:before {
      position: absolute;
      content: '';
      width: 46%;
      height: 1px;
      background-color: #2f2c34;
      left: 0;
      top: 0; }
    .header-top:after {
      position: absolute;
      content: '';
      width: 46%;
      height: 1px;
      background-color: #2f2c34;
      right: 0;
      top: 0; }
    .header-top__side {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header-top__btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none;
      width: 185px;
      height: 30px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #2f2c34;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 0.75px;
      color: #2f2c34;
      margin-left: 25px; }
      .header-top__btn:hover {
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        color: #fff;
        background-color: #d0aa8c;
        border: 1px solid transparent; }
  .header-phone {
    margin-right: 75px; }
    .header-phone__link {
      text-decoration: none;
      color: #2f2c34;
      font-size: 17px;
      letter-spacing: 1px; }
    .header-phone__desc {
      position: relative;
      display: block;
      font-size: 10px;
      text-transform: uppercase;
      color: #d0aa8c;
      letter-spacing: 0.63px; }
      .header-phone__desc:after {
        position: absolute;
        content: '';
        width: 38px;
        height: 1px;
        background-color: #d0aa8c;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0; }
  .header .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -10px;
    width: 213px; }
    .header .logo__img {
      max-width: 100%; }
  .header-bottom {
    background-color: #2f2c34; }

.main-nav {
  padding: 23px 0; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0; }
  .main-nav__item {
    position: relative; }
    .main-nav__item:not(:last-child) {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
      .main-nav__item:not(:last-child):after {
        position: absolute;
        content: '';
        width: 1px;
        height: 20px;
        background-color: #fff;
        right: 0;
        top: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    .main-nav__item:first-child {
      -webkit-box-flex: 0;
      -ms-flex: 0;
      flex: 0;
      padding-right: 75px; }
    .main-nav__item:last-child {
      padding-left: 70px; }
  .main-nav__link {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.36px; }

.sandwich {
  display: none;
  width: 30px; }
  .sandwich-line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff; }
    .sandwich-line:not(:last-child) {
      margin-bottom: 5px; }
  .sandwich__content {
    position: fixed;
    left: 0;
    top: -130%;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    z-index: 999;
    overflow-x: hidden;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    padding: 30px 0 0 14px; }
    .sandwich__content-opend {
      top: 0 !important; }
  .sandwich__close-btn {
    position: absolute;
    right: 30px;
    top: 30px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/close.png);
    background-repeat: no-repeat;
    background-size: cover; }

.main {
  height: 2000px;
  background-image: url(../img/content-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -170px; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8ea; }
  .breadcrumbs__link {
    position: relative;
    text-decoration: none;
    display: block;
    font-family: "Montserrat-Medium";
    font-size: 10px;
    padding: 0 8px;
    color: #2f2c34;
    letter-spacing: 0.63px;
    text-transform: uppercase; }
    .breadcrumbs__link:not(:first-child):before {
      position: absolute;
      content: '';
      width: 1px;
      height: 10px;
      background-color: #2f2c34;
      left: 0; }
    .breadcrumbs__link:last-child:before {
      background-color: #deac8c; }
    .breadcrumbs__link--active {
      color: #e6c0a9; }

.main-info {
  max-width: 735px;
  margin: 0 auto;
  text-align: center; }

.main-subtitle {
  font-size: 17px;
  font-family: "Montserrat-Regular";
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2f2c34;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 15px; }

.main-title {
  display: inline;
  position: relative;
  font-size: 38px;
  color: #2f2c34;
  text-transform: uppercase;
  padding: 0 98px;
  margin: 0;
  font-weight: 400; }
  .main-title:before {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color: #d0aa8c;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .main-title:after {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color: #d0aa8c;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.main-desc {
  font-family: "Montserrat-Medium";
  font-size: 13px;
  color: #343434;
  line-height: 16.67px;
  letter-spacing: 0.75px;
  padding-top: 30px;
  margin: 0; }

.tour-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 10px; }
  .tour-preview__item {
    margin-top: 43px;
    max-width: 548px; }
    .tour-preview__item:nth-child(even) {
      margin-left: 60px; }
  .tour-preview__img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .tour-preview__pic {
    max-width: 100%; }
  .tour-preview__title {
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #2f2c34;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 25px 0; }
    .tour-preview__title:after {
      position: absolute;
      content: '';
      width: 90px;
      height: 1px;
      background-color: #d0aa8c;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .tour-preview__desc {
    font-family: "Montserrat-Medium";
    font-size: 13px;
    color: #2f2c34;
    text-align: center;
    margin: 0;
    padding: 25px 0 30px 0; }
  .tour-preview__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 275px;
    height: 43px;
    text-decoration: none;
    border: 2px solid #2f2c34;
    color: #2f2c34;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Montserrat-Medium";
    letter-spacing: 0.87px;
    margin: 0 auto; }
    .tour-preview__more:hover {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      background-color: #2f2f2f;
      color: #fff; }
